* {
    margin: 0;
    padding: 0;
}
ul {
    text-align: right;
    background-color: rgb(64,64,64,.9);
}
li {
    display: inline-block;
    margin: 15px 42px;
    text-align: right;
    font-size: 1.8em;
    color: white;
}
.last-item {
    margin-right: 50px;
}